@{
    ViewData["Title"] = "Home Page";
}

<div id="overall">
    <div id="the_simpsons">
        <img src="~/images/the_simpsons.png" width="500px" />
    </div>
    <div id="div_homer">
        <img src="~/images/homer.png" width="300px" />
    </div>

    <div id="div_bart">
        <img src="~/images/bart.png" width="200px" />
    </div>
    <div id="div_button">
        <button id="button" onclick="myFunction()" class="zoom">
            <img src="~/images/donut.png" width="50px" />
        </button>

        <p>Hit Me!</p>
    </div>
    <div id="api">
        <div id="picture">
            <img id="generated_image" width="200px"/>
        </div>
        <div>
            <h3 id="name"></h3>
        </div>
        <div>
            <h5 id="quote"></h5>
        </div>

    </div>

</div>
